*{
    padding: 0;
    margin: 0 auto;
}

.font{
    width: 40%;
    font-family: "Kanit";
    background-color: rgb(166, 102, 226);
    margin-top: 30px;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 60px 40px;
}